/* geral */
* {
  padding: 0;
  margin: 0;
}

#branco-e-cinza {
  background: #fff url(image/fundo.png) repeat-x;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1em;
}

#fundo-branco {
  background: #fff url(image/fundo2.png) repeat-x;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1em;
}
/* //geral */

/* Menu */
#menu {
  width: 900px;
  margin: 0 auto;
  margin-top: 1em;
}

#menu img {
  float: left;
  margin-left: 0;
}

#menu nav{
  float: right;
}

#menu nav ul{
  display: flex;
  flex-direction: row;
  list-style: none;

}

#menu nav ul li {
  /* padding: 0 1em; */
  line-height: 4em;
  margin: 0.2em;
  display: block;
}

#menu nav ul li a {
  padding: 1em 1em;
  text-decoration: none;
  color: #383F5D;
  border-radius: 0.4em;
  
}

#menu nav ul li a:hover {
  transition: 0.5s;
  color: #fff;
  background-color: #383F5D;
  
}
.clear {
  clear: both;
}
/* //Menu */

/* main */
main {
  width: 900px;
  margin: 0 auto;
}

#capa {
  margin-top: 18px;
}

.conteudo h1 {
  margin: 0.5em 0;
}

.conteudo h2 {
  margin: 1em 0 0.5em 0;
  font-size: 2em;
}

.conteudo ol {
  margin-left: 2em;
  margin-bottom: 1em;
}

.conteudo p {
  margin: 0.4em 0;
  text-align: justify;
}



#btn {
  padding: 0.5em 1em;
  border-radius: 3em;
  background-color: #6D78A8;
  color: #fff;
  /* border: #383F5D; */
  margin-left: 3.5em;
  cursor: pointer;
}

#btn:hover {
  transition: 0.5s;
  background-color: #383F5D;
}
/* //main */

/* footer */
footer {
  margin: 0 auto;
  width: 900px;
}
footer h3 {
  margin: 1em 0;
  text-align: center;
  padding: 0.6em;
  background-color: lightgray;

}
/* //footer */
